description = "Clients Page"
==
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <a href="#">
                <img src="" class="img-responsive img-centered" alt="">
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a href="#">
                <img src="" class="img-responsive img-centered" alt="">
            </a>
        </div>
        [client space]
        <div class="col-md-3 col-sm-6">
            <a href="#">
                <img src="" class="img-responsive img-centered" alt="">
            </a>
        </div>
		<div class="col-md-3 col-sm-6">
            <a href="#">
                <img src="" class="img-responsive img-centered" alt="">
            </a>
        </div>
    </div>
</div>