description = "Default"
==
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="jacoweb">

    <title>hebwebdev</title>
    
        {% styles %}
    
    <link href="{{ [
		'assets/css/bootstrap.min.css',
		'assets/css/theme.min.css'
    ]|theme }}" rel="stylesheet">
    
	<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">hebweb.io</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        {% partial "header" %}
    </header>
    
    <!-- Services Section -->
    <section id="services">
	    {% partial "services" %}
    </section>
    
    <!-- Portfolio Section -->
    <section id="portfolio" class="bg-light-gray">
    	{% partial "portfolio" %}
    </section>

    <!-- About Section -->
	<section id="about">
        {% partial "about" %}
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        {% partial "team" %}
    </section>
    
    <aside class="clients">
    	{% partial "clients" %}
    </aside>


    <!-- Contact Section -->
    <section id="contact">
        {% partial "contact" %}
    </section>

    <!-- Footer -->
    <footer>
        {% partial "footer" %}
    </footer>

    <!-- Portfolio Modals -->
    {% partial "modals" %}

    <!-- Scripts -->
    <script src="{{ [
        'assets/javascript/jquery.js',
        'assets/javascript/app.js',
        'assets/javascript/classie.js',
        'assets/javascript/cbpAnimatedHeader.js',
        'assets/javascript/jqBootstrapValidation.js'
    ]|theme }}"></script>

    {% scripts %}

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

</body>

</html>